@inherits LayoutComponentBase

<div class="page @(isNavigationCollapsed ? "navigation-collapsed" : "")">
    <aside class="sidebar">
        <NavMenu />
    </aside>

    <main>
        <TopBar Title="Dashboard" OnToggleNavigation="ToggleNavigation" />

        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool isNavigationCollapsed;

    private void ToggleNavigation()
    {
        isNavigationCollapsed = !isNavigationCollapsed;
    }
}
